
.card .card-img img  {
    width: 300px;
    height: 200px;
}
.logo img {
    width: 100px;
    height: 100px;
}
.banner img {
    width: 100%;
    height: 300px;
}
.banner .banner-text {
    position: absolute;
    left: 300px ;
    top: 160px ;
    color: white;
    font-size: 30px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card .card-text {
    width: 360px;
    margin-left: 10px;
}
.card .card-text p {
    text-align: justify;
}
body {
    padding: 0;
    margin: 0;
}
.banner button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-left: 250px;
    margin-top: 20px;
}
.banner button:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.entete {
    display: flex;
    height: 80px;
}
nav ul li a {
    text-decoration: none;
    margin-left: 10px;
    border: 1px solid cornflowerblue;
    padding: 4px;
    color: white;
    background-color: cornflowerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul li a:hover {
    border: 1px solid cornflowerblue;
    background-color: white;
    color: cornflowerblue;
}
nav ul li  {
    list-style-type: none;
    width: 90px;
}
nav ul {
    display: flex;
    justify-content: space-around;
}

header, nav {
    margin: auto;
}
.cards {
    display: flex;
    margin-left: 80px;
    flex-wrap: wrap;
}
.pied_de_page {
    display: flex;
}
.pied_de_page p {
    margin: auto;
}